@use "./partials/mixin" as*;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
  @include d-flex (center, space-between, wrap, 0px);
}

.d-none {
  display: none;
}

.mb-1 {
  margin-bottom: 10px;
}

