@mixin d-flex ($align-itmes, $justify-content, $flex-wrap, $gap) {
    display: flex;
    align-items: $align-itmes;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap ;
    gap: $gap;
}