//SIZE

//header
$heigth-header: 70px;

//main
$heigth-main: calc(100% - $heigth-header);

//element
$width-img-movie-poste : 185px;
$heigth-img-movie-poste : 222px;



//COLORS
$bg-color: #141414;
$bg-color-main: #181818e1;

